[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=ukui-control-center
GenericName=ukui-control-center
GenericName[tr]=ukui-control-center
Comment=Utilities to configure the UKUI desktop
Comment[tr]=Utilities to configure the UKUI desktop
Icon=ukui-control-center
Exec=ukui-control-center
Terminal=false
StartupNotify=false
Categories=Application;Game;
