[Desktop Entry]
_Name=User Study Tool
_GenericName=User Study Tool
_Comment=An application for collecting user studies
Exec=user-study-tool
Icon=flag-yellow
Type=Application
Categories=Qt;KDE;System;
