[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Jes
GenericName=Cash basis accounting
Comment=Jes-CBA
GenericName[de]=Einnahmen-Überschuß-Rechnung
Comment[de]=Jes-EÜR
Icon=/usr/share/pixmaps/jes.png
Exec=java -jar '/usr/share/jes/jes.jar'
Categories=Office;Finance;
Type=Application
Terminal=false
MultipleArgs=false
DocPath=file:///usr/share/doc/jes/jes-help.html 
