[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Assault Cube Reloaded
Name[tr]=Assault Cube Reloaded
GenericName=FPS Game
GenericName[tr]=Birinci Tekil Şahıs Nişancılık Oyunu
Icon=assaultcubereloaded
Exec=/usr/share/assaultcubereloaded/LinuxClient.sh
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
