[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=fritzing
Name[tr]=fritzing
GenericName=fritzing
GenericName[tr]=fritzing
Comment=Electronics design suit
Comment[tr]=Elektronik tasarım ve geliştirme araçları
Icon=fritzing
Exec=fritzing
Terminal=false
StartupNotify=false
Categories=Application;Game;
