[Desktop Entry]
Name=Sublime Text
Version=1.0
Encoding=UTF-8
Comment=Sophisticated Text Editor
Comment[tr]=Gelişmiş Metin Düzenleyici
Type=Application
Icon=sublime_text
Exec=sublime_text %F
Terminal=false
MimeType=text/plain;
Categories=Application;Office;
