[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=redis
Name[tr]=redis
GenericName=redis
GenericName[tr]=redis
Comment=Advanced key-value store
Comment[tr]=Advanced key-value store
Icon=redis
Exec=redis
Terminal=false
StartupNotify=false
Categories=Application;Game;
