  body {
    width: 96%;
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0pt;
    padding-left: 0pt;
    font-size: 9pt ! important;
    padding-top: 0pt ! important;
    padding-bottom: 0pt ! important;
    margin-bottom: 10px ! important;
    margin-top: 10px ! important;
    text-align: justify ! important;
    font-family: "Bitstream Vera Sans",sans-serif ! important;
    background-color:#FEFEFE;
    }

  ul, li {
      padding-left:1px;
      margin-left:1px;
  }

  b, strong {
    color: rgb(27, 87, 177);
    }

  h1 {
    border: 0.5px solid rgb(204, 204, 204);
    padding: 1px 3px;
    font-family: "Bitstream Vera Sans",Arial,sans-serif;
    font-weight: bold;
    vertical-align: bottom;
    color: rgb(27, 87, 177);
    width: 100%;
    font-size: large;
    background-color: rgb(240, 240, 240);
    }

  h2 {
    padding: 0pt;
    font-family: "Bitstream Vera Sans",Arial,sans-serif;
    font-size: medium;
    font-weight: bold;
    vertical-align: bottom;
    background-color: rgb(255, 255, 255);
    color: rgb(27, 87, 177);
    width: 95%;
    }

  h3 {
    font-size: medium;
    background-color: rgb(48, 48, 48);
    color: rgb(27, 87, 177);
    }

  hr {
    border-style: none none solid;
    border-color: rgb(204, 204, 204);
    border-width: 0pt 0pt 1px;
    text-align: center;
    }


