[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=TeamViewer
GenericName=Remote Access over the Internet
GenericName[de]=Fernwartung über das Internet
Comment=TeamViewer Remote Control Application.
Icon=/usr/share/pixmaps/teamviewer.png
Exec=teamviewer
Categories=Application;Network;
Type=Application
Terminal=false
X-KDE-StartupNotify=true
MultipleArgs=false
DocPath=file:///usr/share/doc/teamviewer/teamviewer-help.html