[Desktop Entry]
Type=Application
Version=13.1830
Encoding=UTF-8
Name=FreeCAD
Name[tr]=FreeCAD
GenericName=Computer Aided Design Program
GenericName[tr]=Bilgisayar Destekli Tasarım Programı
Icon=freecad
Exec=/usr/bin/FreeCAD
Terminal=false
StartupNotify=false
Categories=Graphics;Engineering;
