[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=FreeCAD
Name[tr]=FreeCAD
GenericName=3D CAD/CAM Software
GenericName[tr]=3B Teknik Çizim Yazılımı
Comment=3D CAD/CAM Software
Comment[tr]=3B Teknik Çizim Yazılımı
Icon=freecad
Exec=/usr/lib/freecad/bin/FreeCAD
Terminal=false
StartupNotify=false
Categories=Application;Education;Science;
