[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=freecad
Name[tr]=freecad
GenericName=freecad
GenericName[tr]=freecad
Comment=asd
Comment[tr]=asd
Icon=freecad
Exec=freecad
Terminal=false
StartupNotify=false
Categories=Application;Game;
