[Desktop Entry]
Encoding=UTF-8
Name=Custom
Name[tr]=Özel
Comment=Custom Desktop Session
Comment[tr]=Özel Masaüstü Ortamı
Exec=custom
Type=Application
