[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=sayonara
Name[tr]=sayonara
GenericName=sayonara
GenericName[tr]=sayonara
Comment=Sayonara is a small, clear and fast audio player for Linux written in C++, supported by the Qt framework. It uses Gstreamer as audio backend.
Comment[tr]=Sayonara is a small, clear and fast audio player for Linux written in C++, supported by the Qt framework. It uses Gstreamer as audio backend.
Icon=sayonara
Exec=sayonara
Terminal=false
StartupNotify=false
Categories=Application;Multimedia;
