[Desktop Entry]
Name=Picasa
GenericName=Photo Organizer
GenericName[de]=Fotoverwaltung
GenericName[tr]=Fotoğraf Yönetimi
Comment=Picasa is a photo organizer from Google
Comment[de]=Picasa ist eine Bilderverwaltungssoftware von  Google
Comment[tr]=Googel'den Picasa fotoğraf yönetme programı
Icon=picasa
Exec=/opt/google/picasa/3.0/bin/picasa
Categories=Application;X-Picasa;
Encoding=UTF-8
Terminal=false
MultipleArgs=false