[Desktop Action Picasa]
Exec=/opt/google/picasa/3.0/bin/kdehal.sh %u
Icon=/opt/google/picasa/3.0/desktop/picasa32x32.xpm
Name=Import Into Picasa

[Desktop Entry]
Actions=Picasa
ServiceTypes=media/removable_mounted,media/camera_mounted,media/gphoto2camera,media/removable_unmounted,media/camera_unmounted,media/cdrom_unmounted,media/cdrom_mounted,media/dvd_unmounted,media/dvd_mounted
