[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Font Settings for Picasa
Comment=Configure fonts used by Picasa
Exec=/opt/google/picasa/3.0/bin/picasafontcfg
Terminal=false
Icon=/opt/google/picasa/3.0/desktop/picasa-fontcfg.xpm
Type=Application
Categories=Application;Graphics;X-Picasa;
