[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent & 'Audio|Data|VideoDvd' ]
Actions=braseroCopy;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action braseroCopy]
Name=Copy with brasero
Name[bg]=Копиране на CD с brasero
Name[ca]=Copia amb el brasero
Name[ca@valencia]=Copia amb el brasero
Name[cs]=Kopírovat pomocí brasero
Name[csb]=Kòpérëjë z pòmòcą brasero
Name[da]=Kopiér med brasero
Name[de]=Mit brasero kopieren
Name[en_GB]=Copy with brasero
Name[es]=Copiar con brasero
Name[et]=Kopeeri brasero abil
Name[eu]=Kopiatu braserorekin
Name[fi]=Kopioi brasero:llä
Name[fr]=Copier avec brasero
Name[ga]=Cóipeáil le brasero
Name[hu]=Másolás a brasero-vel
Name[it]=Copia con brasero
Name[ko]=brasero로 복사하기
Name[nb]=Kopier med brasero
Name[nds]=Mit brasero koperen
Name[nl]=Kopiëren met brasero
Name[pt]=Copiar com o brasero
Name[pt_BR]=Copiar com o brasero
Name[ro]=Copiere cu brasero
Name[ru]=Копировать, используя brasero
Name[sl]=Skopiraj s brasero
Name[sv]=Kopiera med brasero
Name[tr]=Brasero ile Kopyala
Name[uk]=Скопіювати за допомогою brasero
Name[x-test]=xxCopy with braseroxx
Name[zh_CN]=用 Brasero 复制
Exec=brasero --copy=%d
Icon=brasero
