[Desktop Entry]
X-KDE-Solid-Predicate=[[StorageVolume.ignored == false AND OpticalDisc.blank == true ] AND [OpticalDisc.discType == 'CdRecordable' OR OpticalDisc.discType == 'CdRewritable']]
Actions=braseroAudioCDProject;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action braseroAudioCDProject]
Exec=brasero -a
Name=Create Audio CD with brasero
Name[ca]=Crea un CD d'àudio amb el brasero
Name[ca@valencia]=Crea un CD d'àudio amb el brasero
Name[cs]=Vytvořit pomocí brasero zvukové CD...
Name[csb]=Ùsôdzë CD audio z pòmòcą brasero
Name[da]=Opret lyd-cd med brasero
Name[de]=Audio-CD mit brasero erstellen
Name[en_GB]=Create Audio CD with brasero
Name[es]=Crear CD de audio con brasero
Name[et]=Kirjuta audio-CD brasero abil
Name[eu]=Sortu audio CDa braserorekin
Name[fr]=Créer un CD audio avec brasero
Name[hu]=Hang-CD létrehozása a brasero-vel
Name[it]=Crea CD audio con brasero
Name[nb]=Lag lyd-CD med brasero
Name[nds]=Klang-CD mit brasero opstellen
Name[nl]=Audio-cd aanmaken met brasero
Name[pt]=Criar um CD Áudio com o brasero
Name[pt_BR]=Criar CD de áudio com o brasero
Name[ro]=Creează disc audio cu brasero
Name[ru]=Записать Audio CD, используя brasero
Name[sv]=Skapa ljud-cd med brasero
Name[th]=สร้างแผ่นซีดีเสียงด้วย brasero
Name[tr]=Brasero ile Ses CDsi oluştur
Name[uk]=Створити аудіо-КД через brasero
Name[zh_CN]=用 Brasero 创建音频 CD
Name[x-test]=xxCreate Audio CD with braseroxx
Icon=brasero
