[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.blank == true]
Actions=braseroDataProject;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action braseroDataProject]
Exec=brasero -d
Name=Create file project with brasero
Name[ca]=Crea un fitxer de projecte amb el brasero
Name[ca@valencia]=Crea un fitxer de projecte amb el brasero
Name[cs]=Vytvořit pomocí brasero souborový projekt...
Name[csb]=Ùsôdzë lopkòwi projekt z pòmòca brasero
Name[da]=Opret filprojekt med brasero
Name[de]=Daten-Projekt mit brasero erstellen
Name[en_GB]=Create file project with brasero
Name[es]=Crear proyecto de archivo con brasero
Name[et]=Loo failiprojekt brasero abil
Name[eu]=Sortu fitxategi proiektua braserorekin
Name[fr]=Créer un projet de fichiers avec brasero
Name[hu]=Fájlprojekt létrehozása a brasero-vel
Name[it]=Crea progetto dati con brasero
Name[nb]=Lag filprosjekt med brasero
Name[nds]=Dateiprojekt mit brasero opstellen
Name[nl]=Bestandsproject aanmaken met brasero
Name[pt]=Criar projecto de ficheiros com o brasero
Name[pt_BR]=Criar um projeto de arquivos com o brasero
Name[ro]=Creează proiect de fișiere cu brasero
Name[ru]=Создать проект, используя brasero
Name[sv]=Skapa filprojekt med brasero
Name[th]=สร้างโครงงานแฟ้มด้วย brasero
Name[tr]=Brasero ile veri projesi oluştur
Name[uk]=Створити файловий проект за допомогою brasero
Name[zh_CN]=用 Brasero 创建文件项目
Name[x-test]=xxCreate file project with braseroxx
Icon=brasero
