include *.py
recursive-include src/ *.py *.notifyrc
recursive-include po/ *.po *.pot
recursive-include data/ *.png *.qrc *.rc *.gif *.desktop *.mng *.xml *important*
recursive-include ui/ *.ui
recursive-include help/ *.css *.html *.rst
