[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=vokoscreen
Name[tr]=vokoscreen
GenericName=vokoscreen
GenericName[tr]=vokoscreen
Comment=New desktop recording program
Comment[tr]=New desktop recording program
Icon=vokoscreen
Exec=vokoscreen
Terminal=false
StartupNotify=false
Categories=Application;Game;
