[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=geda
Name[tr]=geda
GenericName=geda
GenericName[tr]=geda
Comment=gEDA Electronic Circuit Design Program
Comment[tr]=gEDA Elektronik Devre Tasarım Programı
Icon=geda
Exec=/usr/bin/gschem
Terminal=false
StartupNotify=false
Categories=Application;Game;
