#!/bin/sh
set -e
. /usr/share/debconf/confmodule

# Default to "normal", then read system config
db_set wine/memory normal
if [ -e /etc/sysctl.d/31-wine.conf ]; then
    MEM=`egrep '^vm\.mmap_min_addr=[0-9]+$' /etc/sysctl.d/31-wine.conf | cut -d= -f2`
    if [ "$MEM" -eq 0 ]; then
        db_set wine/memory zeropage
    fi
fi

db_input medium wine/memory || true
db_go || true
