[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Silicon Empire
Name[tr]=Silicon Empire
GenericName=Silicon Empire
GenericName[tr]=Silicon Empire
Icon=silicon
Exec=silicon
Terminal=false
StartupNotify=false
Categories=Application
