[Desktop Entry]
Exec=/usr/sbin/lightdm
Type=Application
X-Pardus-PlymouthTransition=true
X-Pardus-XCursorTheme=Oxygen_White

Name=LightDM
GenericName=Lxqt Login Manager
GenericName[tr]=Lxqt Giriş Yöneticisi