[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kfmclient openURL %u application/x-sysinfo
Icon=computer
Terminal=false
MimeType=application/x-sysinfo;
InitialPreference=9
NoDisplay=true
Name=System Information
Name[cs]=Systémové informace
Name[el]=Πληροφορίες συστήματος
Name[es]=Información de sistema
Name[de]=Systeminformation
Name[et]=Süsteemi info
Name[fr]=Information système
Name[gl]=Información do sistema
Name[km]=ព័ត៌មាន​ប្រព័ន្ធ
Name[nds]=Systeem-Informatschonen
Name[pl]=Informacje o systemie
Name[pt]=Informação do Sistema
Name[pt_BR]=Informação do Sistema
Name[ru]=Системная информация
Name[sv]=Systeminformation
Name[tr]=Sistem Bilgileri
Name[uk]=Системна інформація
Name[x-test]=xxSystem Informationxx
Categories=Qt;KDE;System;
X-KDE-HasTempFileOption=true
