[Desktop Entry]
Type=Service
Comment=Sysinfo Viewer
Comment[el]=Προβολέας Sysinfo
Comment[es]=Visor Sysinfo
Comment[et]=Süsteemi info näitaja
Comment[fr]=Outil d'affiche pour Sysinfo
Comment[gl]=Visor de Sysinfo
Comment[km]=កម្មវិធី​មើល Sysinfo
Comment[nds]=Systeeminfo-Kieker
Comment[pt]=Visualizador de Informação do Sistema
Comment[pt_BR]=Visualizador de Informação do Sistema
Comment[ru]=Сведения о системе
Comment[sv]=Visning av systeminformation
Comment[tr]=Sistem Bilgileri
Comment[uk]=Перегляд системної інформації
Comment[x-test]=xxSysinfo Viewerxx
MimeType=application/x-sysinfo;
Name=Sysinfo
Name[pt]=Informação do Sistema
Name[pt_BR]=Informação do Sistema
Name[ru]=Сведения о системе
Name[sv]=Systeminformation
Name[uk]=Системна інформація
Name[x-test]=xxSysinfoxx
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libksysinfopart
