[Desktop Entry]
Comment=Sysinfo
Comment[nds]=Systeeminformatschonen
Comment[pt]=Informação do Sistema
Comment[pt_BR]=Informação do Sistema
Comment[ru]=Сведения о системе
Comment[sv]=Systeminformation
Comment[uk]=Системна інформація
Comment[x-test]=xxSysinfoxx
Type=MimeType
MimeType=application/x-sysinfo;
X-KDE-AutoEmbed=true
Icon=mycomp
