[Desktop Entry]
Encoding=UTF-8
Version=2.2
Name=RSS Owl
GenericName=A New Reader For Everyone
Comment=A New Reader For Everyone
Icon=/usr/share/pixmaps/rsswol.xpm
Exec=/opt/rssowl/RSSOwl
Categories=Office;
Type=Application
Terminal=false
X-KDE-StartupNotify=true
MultipleArgs=false
