[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=finalterm
Name[tr]=finalterm
GenericName=finalterm
GenericName[tr]=finalterm
Comment=Final Term is a new breed of terminal emulator.
Comment[tr]=Final Term is a new breed of terminal emulator.
Icon=finalterm
Exec=finalterm
Terminal=false
StartupNotify=false
Categories=Application;Game;
