[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=obmenu
Name[tr]=obmenu
GenericName=obmenu
GenericName[tr]=obmenu
Comment=Openbox menu editor
Comment[tr]=Openbox menu editor
Icon=obmenu
Exec=obmenu
Terminal=false
StartupNotify=false
Categories=Application;Game;
