[Desktop Entry]
Name=Notepad
Name[cs]=Poznámkový blok
Name[sv]=Anteckningar
Name[de]=Editor
Name[fi]=Muistio
Name[pl]=Notatnik
Name[ca]=Bloc de notes
Name[it]=Blocco note
Name[nl]=Kladblok
Name[hu]=Jegyzettömb
Name[ru]=Блокнот
Name[el]=Σημειωματάριο
Name[es]=Bloc de Notas
Name[pt_br]=Bloco de Notas
Comment=A clone of Windows Notepad
Comment[cs]=Klon aplikace Microsoft® Poznámkový blok
Comment[sv]=En klon av Windows Anteckningar
Comment[de]=Ein Windows Editor Klon
Comment[fi]=Windows Muistio -klooni
Comment[pl]=Klon Notatnika Windows
Comment[ca]=Un clon del Windows Notepad
Comment[pt_br]=Uma cópia do Bloco de Notas do Windows
Comment[es]=Un clon del Bloc de Notas de Windows
Comment[el]=Κλώνος του Σημειωματάριου των Windows
Comment[ru]=Клон Блокнота Windows
Comment[hu]=A windowsos Jegyzettömb klónja
Comment[it]=Un clone del «Blocco note» di Windows
Comment[nl]=Een kloon van Kladblok in Windows
Exec=notepad
Terminal=false
Type=Application
Icon=wine-notepad
Categories=Wine-Programs-Accessories;
