[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Cmocka
Name[tr]=Cmocka
GenericName=Cmocka
GenericName[tr]=Cmocka
Icon=cmocka
Exec=cmocka
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
