[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=FreeMind
GenericName=Map Your Thoughts
Comment=FreeMind - Map Your Thoughts
Icon=/usr/share/pixmaps/freemind.svg
Exec=sh /opt/freemind-1.0.0/dist/freemind.sh
Categories=Development;IDE;
Type=Application
Terminal=false
X-KDE-StartupNotify=true
MultipleArgs=false
DocPath=file:///usr/share/doc/freemind/FM_Key_Mappings_Quick_Guide.pdf