[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=piklab
Name[tr]=piklab
GenericName=piklab
GenericName[tr]=piklab
Comment=piklab
Comment[tr]=piklab
Icon=piklab
Exec=piklab
Terminal=false
StartupNotify=false
Categories=Application;Game;
