[Desktop Entry]
Encoding=UTF-8
Name=Default
Name[tr]=Öntanımlı
Comment=Default Desktop Session
Comment[tr]=Öntanımlı Masaüstü Ortamı
Exec=default
Type=Application
