[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Vegastrike
Name[tr]=Vegastrike
GenericName=3D OpenGL Spaceflight Simulator
GenericName[tr]=3B OpenGL Uzay Mekiği Simülatörü
Icon=vegastrike
Exec=vegastrike
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame