[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Vegastrike Setups
Name[tr]=Vegastrike Ayarları
GenericName=Setup Program for Vegastrike
GenericName[tr]=Vegastrike Ayar Programı
Icon=vegastrike
Exec=vssetup
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame