[Desktop Entry]
Encoding=UTF-8
Version=1.44
Name=Calibre
GenericName=Calibre
Comment=E-book library management application
Icon=/usr/share/pixmaps/calibre.png
Exec=sh /opt/calibre-1.44.0-x86_64/calibre
Categories=Office;
Type=Application
Terminal=false
X-KDE-StartupNotify=true
MultipleArgs=false
