[Desktop Entry]
Exec=/usr/bin/lightdm
Icon=xorg
Type=Application
X-Pardus-PlymouthTransition=true
X-Pardus-XCursorTheme=Oxygen_White

Name=lightdm
GenericName=X Login Manager
GenericName[tr]=X Giriş Yöneticisi
