#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Wing IDE 101 5.1
Comment=Wing IDE 101 5.1:  A powerful integrated development environment for the Python programming language
GenericName=Python IDE
Exec=wing %F
Terminal=false
Type=Application
Icon=wingide-101-5
Categories=Python;Development;IDE;
StartupNotify=true
MimeType=application/x-wing-ide-project;

