[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pekwm Pencere Yöneticisi
Comment=Small, fast, functional, and flexible window manager
Exec=pekwm
Icon=pekwm
Terminal=false
StartupNotify=false
Categories=Application;
