#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Awale
Name[tr]=Awale
GenericName=Mancala Game
GenericName[tr]=Mancala Game
Icon=xawale
Exec=xawale
Terminal=false
StartupNotify=false
Categories=Application;Game;


