#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Android Notifier
Name[tr]=Andoid Bildirici
Icon=/usr/share/pixmaps/android-notifier-desktop.png
Exec=/usr/bin/android-notifier-desktop
Terminal=false
Type=Application
Categories=Utility;TelephonyTools
StartupNotify=true
