[Desktop Entry]
Type=Application
Version=9
Encoding=UTF-8
Name=electric
GenericName=electric
GenericName[tr]=electric
Comment=Electric is a sophisticated electrical CAD system for the design of integrated circuits.
Comment[tr]=Elektrik, entegre devrelerin tasarımı için gelişmiş bir elektrik CAD sistemidir.
Icon=electric.jpg
Exec=electric
Terminal=false
StartupNotify=false
Categories=Application;Development;
