[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Nodejs
Name[tr]=Nodejs
GenericName=Nodejs
GenericName[tr]=Nodejs
Icon=nodejs
Exec=nodejs
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
