[Desktop Entry]
Name=LightDM KDE Greeter
Name[bs]=LightDM KDE pozdravljač
Name[cs]=Přihlašovací obrazovka LightDM KDE
Name[da]=KDE-velkomstskærm til LightDM
Name[de]=LightDM-KDE-Anmeldebildschirm
Name[el]=Καλωσόρισμα LightDM του KDE
Name[et]=LightDM KDE tervitusekraan
Name[fr]=Écran de connexion LightDM pour KDE
Name[ga]=Fáilteoir LightDM KDE
Name[gl]=LightDM KDE Greeter
Name[hu]=LightDM KDE üdvözlő
Name[it]=Finestra di benvenuto di LightDM per KDE
Name[km]=សារស្វាគមន៍ LightDM KDE
Name[lt]=LightDM KDE Sveikintojas
Name[mr]=लाइट-डीएम केडीई अभिवादक
Name[nl]=KDE-begroeting van LightDM
Name[pa]=LightDM KDE ਸਵਾਗਤੀ
Name[pl]=Program pozdrawiający LightDM KDE
Name[pt]=Ecrã de Boas-Vindas do LightDM para o KDE
Name[pt_BR]=Saudador LightDM do KDE
Name[ro]=Ecranul de autentificare LightDM pentru KDE
Name[ru]=Экран приветствия LightDM для KDE
Name[sk]=LightDM KDE uvítanie
Name[sl]=Pozdravni zaslon LightDM KDE
Name[sv]=LightDM KDE välkomstskärm
Name[tr]=LightDM KDE Karşılayıcısı
Name[uk]=Вікно входу до системи LightDM для KDE
Name[x-test]=xxLightDM KDE Greeterxx
Comment=This runs the KDE greeter, it should only be run from LightDM
Comment[bs]=Ovo pokreće KDE pozdrav, to bi se trebalo pokretati iz LightDM
Comment[da]=Dette kører KDE-velkomstskærmen, den skal kun køres fra LightDM
Comment[de]=Führt den KDE-Anmeldebildschirm aus – sollte nur durch LightDM gestartet werden
Comment[el]=Αυτό εκτελεί το καλωσόρισμα του KDE, θα πρέπει να εκτελείται μόνο από το LightDM
Comment[et]=KDE tervitusekraani käivitamine, mis tuleb käivitada ainult LightDM-ist
Comment[fr]=Cette application lance l'écran de connexion et ne doit être exécutée que depuis LightDM
Comment[gl]=Isto executa o KDE greeter, que só se debe executar dende LightDM
Comment[hu]=Futtatja a KDE üdvözlőt, csak LightDM alól szabad futtatni
Comment[it]=Esegue la finestra di saluto di KDE, dovrebbe essere eseguito solo da LightDM
Comment[km]=វា​ដំណើរការ​សារ​ស្វាគមន៍ KDE វាគួរ​តែ​ត្រូ​វបាន​ដំណើរការ​ពី LightDM
Comment[lt]=Tai paleidžia KDE Sveikintoją, jis turėtų būti paleistas tik iš LightDM
Comment[mr]=हा केडीई अभिवादक चालवितो. हे फक्त लाइट-डीएम मधूनच चालविले पाहिजे.
Comment[nl]=Dit voert de KDE-begroeting uit, het zou alleen uitgevoerd moeten worden vanuit LightDM
Comment[pl]=Uruchamia to program pozdrawiający dla KDE, powinien on być uruchamiany z LightDM
Comment[pt]=Isto executa o ecrã de boas-vindas do KDE, que só deverá ser corrido a partir do LightDM
Comment[pt_BR]=Isto executa o Saudador do KDE, deve somente ser executado a partir do LightDM
Comment[ro]=Lansează ecranul de autentificare KDE și trebuie rulat numai din LightDM
Comment[ru]=Запускает экран приветствия KDE, может быть запущен только с LightDM
Comment[sk]=Toto spustí KDE uvítanie, malo by sa to spúšťať iba z LightDM
Comment[sl]=To zažene pozdravni zaslon KDE. Zagnan naj bi bil le iz LightDM
Comment[sv]=Detta gör KDE:s välkomstskärm. Den ska bara köras från LightDM.
Comment[tr]=Bu KDE karşılayıcısını çalıştırır. Sadece LightDM tarafından çalıştırılmalıdır
Comment[uk]=Запускає вікно входу KDE, можна виконувати лише з LightDM
Comment[x-test]=xxThis runs the KDE greeter, it should only be run from LightDMxx
Exec=lightdm-kde-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
