[Desktop Entry]
Version=1.0
Name=Google Earth
Name[tr]=Google Earth
GenericName=Legacy 3D planet viewer
GenericName[tr]=Üç boyutlu gezegen görüntüleyici
Comment=Explore, search and discover the planet
Comment[tr]=Arayın,dolaşın ve gezegeni keşfedin
Exec=google-earth %f
Terminal=false
MultipleArgs=false
Icon=google-earth
Type=Application
Categories=Application;Network
MimeType=application/vnd.google-earth.kml+xml;application/vnd.google-earth.kmz;application/earthviewer;application/keyhole
