[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=jag
Name[tr]=jag
GenericName=jag
GenericName[tr]=jag
Comment=JAG is an arcade-puzzle 2D game similar to KDiamonds, Cradle of Rome, Big Kahuna Reef etc. 
Comment[tr]=JAG is an arcade-puzzle 2D game similar to KDiamonds, Cradle of Rome, Big Kahuna Reef etc. 
Icon=jag
Exec=jag
Terminal=false
StartupNotify=false
Categories=Application;Game;
