[Desktop Entry]
Encoding=UTF-8 
Version=1.0 
Name=Aptana Studio 3 
Comment=The professional, open source development tool for the open web 
Icon=/usr/share/pixmaps/icon.xpm 
GenericName=Aptana Studio 
Type=Application 
Exec=/opt/Aptana_Studio_3/AptanaStudio3
Terminal=false
MimeType=text/plain; Categories=Development;IDE;
Categories=Application;Development;

