[Desktop Entry]
Exec=/usr/bin/sddm
Icon=xorg
Type=Application
X-Pardus-XCursorTheme=Oxygen_White
X-Pardus-PlymouthTransition=true

Name=sddm
GenericName=sddm Login Manager
GenericName[tr]=sddm Giriş Yöneticisi

