[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=UknownHorizones
Name[tr]=UknownHorizones
GenericName=Strategy Game
GenericName[pl]=Gra strategiczna
GenericName[tr]=Strateji Oyunu
Icon=unknown-horizones
Exec=unknown-horizones
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
