[Desktop Entry]
Encoding=UTF-8
Name=Al-Anvar
GenericName=Quran research tool
Comment=Quran research tool
Comment[en_US]=Quran research tool
Comment[tr]=Kur'an Programı
Exec=al-anvar
Icon=alanvar
Type=Application
Terminal=false
Categories=AudioVideo;Player;Qt;
StartupNotify=false
