[Desktop Entry]
Name=Krecipes
Name[be]=Krecipes
Name[bg]=Krecipes
Name[ca]=Krecipes
Name[ca@valencia]=Krecipes
Name[cs]=Krecipes
Name[da]=Krecipes
Name[de]=Krecipes
Name[el]=Krecipes
Name[en_GB]=Krecipes
Name[es]=KRecipes
Name[et]=Krecipes
Name[fr]=Krecipes
Name[ga]=Krecipes
Name[gl]=Krecipes
Name[hi]=के-रेसिपि
Name[hne]=के-रेसिपि
Name[hr]=Krecipes
Name[hu]=Krecipes
Name[it]=Krecipes
Name[ja]=Krecipes
Name[km]=Krecipes
Name[ko]=Krecipes
Name[ml]=കെവിഭവങ്ങള്‍
Name[nb]=Krecipes
Name[nds]=Krecipes
Name[nl]=Krecipes
Name[nn]=Krecipes
Name[pt]=Krecipes
Name[pt_BR]=Krecipes
Name[ro]=Krețete
Name[sv]=Krecept
Name[tr]=Krecipes
Name[uk]=Krecipes
Name[x-test]=xxKrecipesxx
Name[zh_CN]=Krecipes
Name[zh_TW]=Krecipes
Exec=krecipes %i -caption "%c"
Icon=krecipes
Type=Application
Categories=Utility;Qt;KDE;Database;X-KDE-More;
X-DocPath=krecipes/index.html
GenericName=Cooking Book
GenericName[be]=Кніга рэцэптаў
GenericName[bg]=Готварска книга
GenericName[ca]=Llibre de cuina
GenericName[ca@valencia]=Llibre de cuina
GenericName[cs]=Kuchařka
GenericName[da]=Kogebog
GenericName[de]=Kochbuch
GenericName[el]=Βιβλίο μαγειρικής
GenericName[en_GB]=Cooking Book
GenericName[es]=Libro de cocina
GenericName[et]=Kokaraamat
GenericName[fr]=Livre de cuisine
GenericName[ga]=Leabhar Cócaireachta
GenericName[gl]=Libro de cociña
GenericName[hi]=व्यंजन पुस्तक
GenericName[hne]=व्यंजन पुस्तक
GenericName[hu]=Főző könyv
GenericName[it]=Libro di ricette
GenericName[ja]=料理本
GenericName[km]=សៀវភៅ​ធ្វើ​ម្ហូប
GenericName[ko]=요리책
GenericName[ml]=പാചകപുസ്തകം
GenericName[nb]=Kokebok
GenericName[nds]=Kookbook
GenericName[nl]=Kookboek
GenericName[nn]=Kokebok
GenericName[pt]=Livro de Culinária
GenericName[pt_BR]=Livro de culinária
GenericName[ro]=Carte de bucate
GenericName[sv]=Kokbok
GenericName[tr]=Yemek Kitabı
GenericName[uk]=Книга рецептів
GenericName[x-test]=xxCooking Bookxx
GenericName[zh_TW]=食譜
Comment=The KDE Cooking Book
Comment[be]=Кніга рэцэптаў KDE 
Comment[bg]=Готварската книга на KDE
Comment[ca]=El llibre de cuina del KDE
Comment[ca@valencia]=El llibre de cuina del KDE
Comment[cs]=Kuchařka pro KDE
Comment[da]=KDE's kogebog
Comment[de]=Das KDE-Kochbuch
Comment[el]=Το βιβλίο μαγειρικής του KDE
Comment[en_GB]=The KDE Cooking Book
Comment[es]=El libro de cocina de KDE
Comment[et]=KDE kokaraamat
Comment[fr]=Le Livre de Cuisine KDE
Comment[ga]=Leabhar Cócaireachta KDE
Comment[gl]=O libro de cociña de KDE
Comment[hi]=केडीई व्यंजन पुस्तक
Comment[hne]=केडीई व्यंजन पुस्तक
Comment[hu]=A KDE főző könyv
Comment[it]=Il libro delle ricette di KDE
Comment[ja]=KDE 料理本
Comment[km]=សៀវភៅ​ធ្វើ​ម្ហូប​របស់ KDE
Comment[ko]=KDE 요리책
Comment[ml]=കെഡി‌ഈയുടെ പാചക പുസ്തകം
Comment[nb]=KDE-kokeboka
Comment[nds]=Dat Kookbook vun KDE
Comment[nl]=Het kookboek voor KDE
Comment[nn]=Kokeboka i KDE
Comment[pt]=Livro de Culinária do KDE
Comment[pt_BR]=O livro de culinária do KDE
Comment[ro]=Cartea de bucate KDE
Comment[sv]=KDE:s kokbok
Comment[tr]=KDE Yemek Kitabı
Comment[uk]=Книга рецептів для KDE
Comment[x-test]=xxThe KDE Cooking Bookxx
Comment[zh_TW]=KDE 食譜
Terminal=false
X-DCOP-ServiceType=Unique
