[Desktop Entry]
Version=1.0
Type=Application
Name=Sublime Text 3
GenericName=Text Editor
Comment=Sophisticated text editor for code, markup and prose
Exec=/usr/bin/sublime-text_3 %F
Terminal=false
MimeType=text/plain;
Icon=sublime-text
Categories=TextEditor;Office;
StartupNotify=true
Actions=Window;Document;
