[Desktop Entry]
Categories=Utility;
Comment=Transfer distos like Pardus and MeeGo to USB Drive
Comment[tr]=Pardus MeeGo gibi işletim sistemlerini USB sürücüye aktarın.
GenericName[tr]=USBAktarici
GenericName=USBTransfer
Icon=USBTransfer.png
Name=USBTransfer
Name[tr]=USBAktarici
Terminal=false
Type=Application
Exec=USBTransfer
Version=3.0.1
