[Desktop Entry]
Encoding=UTF-8
Comment[tr]=Hamsi Manager
Comment=Hamsi Manager
Categories=Utility;Qt;KDE;System;X-KDE-Utilities-File;GTK;GNOME;FileTools;FileManager
Exec=hamsi
GenericName[tr]=Hamsi Manager
GenericName=Hamsi Manager
Icon=hamsi
MimeType=inode/directory;
Name[tr]=Hamsi Manager
Name=Hamsi Manager
Path=/usr/bin
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application

