[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=ede Pencere Yöneticisi
Comment=Small, fast, functional, and flexible window manager
Exec=startede
Icon=ede
Terminal=false
StartupNotify=false
Categories=Application;