[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=pantheon-music
GenericName=pantheon-music
GenericName[tr]=pantheon-music
Comment=The Pantheon Music Player
Comment[tr]=The Pantheon Music Player
Icon=pantheon-music
Exec=pantheon-music
Terminal=false
StartupNotify=false
Categories=Application;Game;
