[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=orca
Name[tr]=orca
GenericName=orca
GenericName[tr]=orca
Comment=asdas
Comment[tr]=asdas
Icon=orca
Exec=orca
Terminal=false
StartupNotify=false
Categories=Application;Game;
