[Desktop Entry]
Version=1.0
Type=Application
Name=EAGLE Ücretsiz Sürüm
TryExec=/usr/bin/eagle
Exec=eagle
Icon=/opt/eagle-6.5.0/bin/eagleicon50.png
Categories=Development;
