[Desktop Entry]
# Installed by xdg-mime from googleearth-mimetypes.xml
Type=MimeType
MimeType=application/vnd.google-earth.kmz
Icon=application-vnd.google-earth.kmz
Comment=Keyhole Markup Language archive
Patterns=*.kmz;
