[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=xnoise
Name[tr]=xnoise
GenericName=xnoise
GenericName[tr]=xnoise
Comment=Xnoise is a media player for GTK+ with an intuitive user interface, great speed and lots of features.
Comment[tr]=Xnoise is a media player for GTK+ with an intuitive user interface, great speed and lots of features.
Icon=xnoise
Exec=xnoise
Terminal=false
StartupNotify=false
Categories=Application;Game;
