[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Idea
GenericName=IntelliJ IDEA
Comment=IntelliJ IDEA - The Best Java and Polyglot IDE
Icon=/usr/share/pixmaps/idea.png
Exec=sh /opt/idea-IC-133.193/bin/idea.sh
Categories=Development;IDE;
Type=Application
Terminal=false
X-KDE-StartupNotify=true
MultipleArgs=false
