[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=edelib
Name[tr]=edelib
GenericName=edelib
GenericName[tr]=edelib
Comment=Component construction library for Equinox Desktop Environment
Comment[tr]=Component construction library for Equinox Desktop Environment
Icon=edelib
Exec=edelib
Terminal=false
StartupNotify=false
Categories=Application;Game;
