[Desktop Entry]
Version=1.0
Comment=ASTranslator, Google Çeviri uygulaması.
Exec=astranslator
GenericName=Google Translator Application
GenericName[tr]=Google Çeviri Uygulaması
Icon=astranslator
Name=ASTranslator
Type=Application
Categories=Qt;Dictionary;Utility;