[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=DraftSight
Name[tr]=DraftSight
GenericName=Editing CAD images
GenericName[tr]=CAD Yazılımı
Icon=draftsight
Exec="/opt/dassault-systemes/draftsight/bin/draftsight"
Terminal=false
StartupNotify=false
MimeType=image/vnd.dwg;application/vnd.dassault-systemes.draftsight-dwg;image/vnd.dxf;application/vnd.dassault-systemes.draftsight-dxf;image/vnd.dwt;application/vnd.dassault-systemes.draftsight-dwt;
Categories=Application;Graphics;




