[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=cairo-dock
GenericName=cairo-dock
GenericName[tr]=cairo-dock
Comment=dfds
Comment[tr]=dfds
Icon=cairo-dock
Exec=cairo-dock
Terminal=false
StartupNotify=false
Categories=Application;Game;
