[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=qsopcast
Name[tr]=qsopcast
GenericName=qsopcast
GenericName[tr]=qsopcast
Comment=A Qt front-end to p2p TV sopcast
Comment[tr]=Sopcast tv için arayüz
Icon=qsopcast
Exec=qsopcast
Terminal=false
StartupNotify=false
Categories=Application;
