[Desktop Entry]
Type=Application
Version=0.1.7
Encoding=UTF-8
Name=Jupiter
Name[tr]=Jupiter
GenericName=Power Management Applet
GenericName[tr]=Güç Yönetimi Uygulaması
Icon=jupiter
Exec=jupiter
Terminal=false
StartupNotify=false
Categories=Application
