[Desktop Entry]
Type=Application
Version=0.4
Name=Sayonara Player
GenericName=Media player
Comment=Music player and music library admininstration
Exec=sayonara %F
Icon=sayonara
Terminal=false
Categories=Audio;Music;Player;AudioVideo
MimeType=audio/mpeg;audio/x-mpegurl;audio/wav;audio/x-wav;audio/basic; application/x-ogg;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/x-flac;x-content/audio-player;

