[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=kbackup
Name[tr]=kbackup
GenericName=kbackup
GenericName[tr]=kbackup
Comment=Backup program for KDE
Comment[tr]=Backup program for KDE
Icon=kbackup
Exec=kbackup
Terminal=false
StartupNotify=false
Categories=Application;Game;
