[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Omnitux
GenericName=Educationsoftware
GenericName[de]=Lernsoftware für Kinder
Comment=Educationsuite for children with several games
Comment[de]=Lernsuite für Vorschulkinder mit verschiedenen Spielen
Icon=/usr/share/pixmaps/omnitux.png
Exec=/usr/bin/omnitux
Categories=Game;KidsGame;
Type=Application
Terminal=false
MultipleArgs=false
