[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Utorrent Gui
Name[tr]=Utorrent Arayüzü
GenericName=BitTorrent Client Interface
GenericName[tr]=BitTorrent İstemcisi Arayüzü
Icon=ut
Exec=utorrent
Terminal=False
StartupNotify=false
Categories=Application;Network;
