[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Utorrent
Name[tr]=Utorrent
GenericName=BitTorrent client
GenericName[tr]=BitTorrent İstemcisi
Icon=ut
Exec=utorrent-server
Terminal=True
StartupNotify=false
Categories=Application;Network;
