#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.3.34
Type=Application
Exec=/usr/bin/taskcoach.py
Icon=/usr/share/pizmaps/taskcoach.png
StartupNotify=true
Terminal=false
Categories=Utility;TextEditor;GTK;
Name=Taskcoach simple open source todo manager.