[Desktop Entry]
Name=JEdit
Name[tr]=JEdit
GenericName=JEdit
GenericName[tr]=JEdit
Comment=Text editor for programmers, written in Java.
Comment[tr]=Programcılar için text editörü
Icon=jedit
Exec=jedit
Terminal=false
Type=Application
Categories=Java;Utility;TextEditor;
