[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Imagewriter
Name[tr]=Imagewriter
GenericName=Imagewriter
GenericName[tr]=Imagewriter
Icon=imagewriter
Exec=imagewriter
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
