#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.12.2
Encoding=UTF-8
Name=GradeL
GenericName=A desktop gradebook program for teachers.
Comment=A desktop gradebook program for teachers.
Type=Application
Categories=KDE;Qt;Education;DataVisualization
Terminal=false
Icon=/usr/share/gradel/gradel.png
Exec=gradel
X-KDE-StartupNotify=true
GenericName[en_US]=A desktop gradebook program for teachers.
