[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=fbreader
Name[tr]=fbreader
GenericName=fbreader
GenericName[tr]=fbreader
Comment=fbreader is ebook readet
Comment[tr]=fbreader is ebook readet
Icon=fbreader
Exec=fbreader
Terminal=false
StartupNotify=false
Categories=Application;Game;
