[Desktop Entry]
Encoding=UTF-8
Version=1.5.7
Name=ProjectLibre
GenericName=ProjectLibre
Comment=ProjectLibre
Icon=/usr/share/pixmaps/ProjectLibre.gif
Exec=sh /opt/projectlibre-1.5.7/projectlibre.sh
Categories=Office;
Type=Application
Terminal=false
X-KDE-StartupNotify=true
MultipleArgs=false
