#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Wbar
GenericName=Quick-Lauchn bar
GenericName[de]=Alternative Taskleiste
Comment=A Quick-Launch bar like MacOS ones
Comment[de]=Eine Startleiste nach MacOS Stil
Icon=wbar
Exec=/usr/bin/wbar -pos top --above-desk
Categories=KDE;Application;Utility
Type=Application
Encoding=UTF-8
Terminal=false