#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Samsung Tools Preferences
Comment=Show and modify Samsung Tools preferences
Icon=/usr/share/samsung-tools/gui/icons/samsung-tools.png
Exec=samsung-tools-preferences
Terminal=false
Type=Application
Categories=Settings;X-GNOME-SystemSettings;
OnlyShowIn=GNOME;XFCE;KDE;Unity;
StartupNotify=true
Name[cs]=Nastavení Samsung Tools
Name[da]=Samsung Tools indstillinger
Name[de]=Samsung Tools Einstellungen
Name[es]=Preferencias de las herramientas Samsung
Name[fr]=Préférences de Samsung Tools
Name[hu]=Samsung Tools beállítások
Name[it]=Preferenze di Samsung Tools
Name[ko]=삼성 도구 기본 설정
Name[ms]=Keutamaan Alatan Samsung
Name[nl]=Voorkeuren Samsung hulpprogramma's
Name[pl]=Zestaw narzędzi Samsung
Name[pt_BR]=Preferências de Ferramentas Samsung
Name[ru]=Настройки Samsung Tools
Name[sv]=Samsung Tools-inställningar
Name[tr]=Samsung Tools Tercihleri
Name[uk]=Інструменти налаштування Samsung
Name[zh_CN]=三星工具偏好设置
Comment[cs]=Zobrazit a změnit nastavení Samsung Tools
Comment[de]=Anzeigen und ändern der Samsung Tools Einstellungen
Comment[es]=Mostrar y modificar las preferencias de las herramientas Samung
Comment[fr]=Afficher et modifier les préférences de Samsung Tools
Comment[hu]=Mutatassa és változtassa a Samsung Tools beállításokat
Comment[it]=Visualizza e modifica le preferenze di Samsung Tools
Comment[ko]=삼성 도구의 기본 설정을 보이고 수정합니다.
Comment[ms]=Papar dan ubahsuai keutamaan alatan Samsung
Comment[nl]=Toon en wijzig voorkeuren van Samsung hulpprogramma's.
Comment[pl]=Wyświetla i modyfikuje preferencje narzędzi Samsung
Comment[pt_BR]=Exibir e modificar as preferências de Ferramentas Samsung
Comment[ru]=Просмотр и изменение настроек Samsung Tools
Comment[sv]=Visa och ändra Samsung Tools-inställningar
Comment[tr]=Samsung Tools tercihlerini göster ve düzenle
Comment[uk]=Показати та змінити інструменти налаштування Samsung
Comment[zh_CN]=显示和修改三星工具偏好设置
