[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=xfe
Name[tr]=xfe
GenericName=xfe
GenericName[tr]=xfe
Comment=File Explorer  is an MS-Explorer like file manager
Comment[tr]=File Explorer  is an MS-Explorer like file manager
Icon=xfe
Exec=xfe
Terminal=false
StartupNotify=false
Categories=Application;Game;
