[Desktop Entry]
Comment[tr]=DOS'lu bir x86 öykünücüsü
Comment=DOS'lu bir x86 öykünücüsü
Encoding=UTF-8
Exec=dosbox
GenericName[tr]=DOSBox
GenericName=DOSBox
Icon=dosbox
Name[tr]=DOSBox
Name=DOSBox
Terminal=false
Type=Application
