[Desktop Entry]
Name=Install more applications
Name[tr]=Daha fazla uygulama kurun
Name[nl]=Meer toepassingen installeren
Name[fr]=Installer plus d'applications
Name[ru]=Установить больше приложений
Name[sv]=Installera fler program
Name[it]=Installare più applicazioni
Name[de]=Weitere Programme installieren
Name[hu]=További alkalmazások telepítése
Name[el]=Εγκατάσταση περισσότερων εφαρμογών
Name[es]=Instalar más Programas
Exec=package-manager --show-mainwindow --select-component graphics
Icon=package-manager
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
Categories=Qt;KDE;Graphics;
