[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=spacefm
Name[tr]=spacefm
GenericName=spacefm
GenericName[tr]=spacefm
Comment=Multi-panel tabbed file manager
Comment[tr]=Multi-panel tabbed file manager
Icon=spacefm
Exec=spacefm
Terminal=false
StartupNotify=false
Categories=Application;Game;
